# Setup each value and rename it as config.env
REPO="REPO/Sitory"
AUTHORS=author-github-1,author-github-2s
BOT_CHECK_NAME="I am bot"
RETRY_LIMIT=5
SOUND="Glass"
AI_PROVIDER="Desired Kilocode Provider for Reviews"
AI_MODEL_ID="Desired-Model-for-review"
AI_VARIANT="low|medium|max"
AI_TIMEOUT=1800
